@using E_MTY.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<style>
    ::placeholder { /* Firefox, Chrome, Opera */
        color: #0B1129 !important;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #0B1129 !important;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #0B1129 !important;
    }
</style>

<header id="loginHeader">
    <div class="center">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <h1 style="letter-spacing:2px; color:#002155; font-weight:bold">Inicia Sesión</h1>
            @Html.AntiForgeryToken()
            <div>
                <div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control register-form loginPageButton", @placeholder = "Correo electrónico" })
                </div>
                <div>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control register-form loginPageButton", @placeholder = "Contraseña"})
                </div>
                <input id="homeLogin" type="submit" value="INICIA SESIÓN" class="center-horizontal" style="margin-top:100px; margin-left:80px; border-color:#0B1129; color:white; background: #0B1129;" />
            </div>
            @Html.ValidationSummary("", new { @class = "center-bottom", style = "color:black; margin-bottom:120px; margin-right:20px" })
        }
    </div>
</header>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}