@{
    ViewBag.Title = "Empresas";
}

@model IEnumerable<E_MTY.Data.AspNetBusiness>
@using Microsoft.AspNet.Identity.EntityFramework;
@using E_MTY.Models;
@using Microsoft.AspNet.Identity.Owin;
@using E_MTY.Overrides

@{
    var businesses = Model;
}

<h2>Empresas</h2>
<div class="container">
    <div class="row blog">
        <div class="col-sm">
            <div id="CourseCarousel" class="carousel slide" data-ride="carousel">
                @if (businesses.Count() == 0)
                {
                    <h3>Aún no hay ninguna empresa.</h3>
                }
                else
                {
                    <ol class="carousel-indicators">
                        @for (int i = 0; i < Math.Ceiling((decimal)businesses.Count() / 4); i++)
                        {
                            <li data-target="#CourseCarousel" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                        }
                    </ol>


                    var businessList = businesses.ToList();
                    <div class="carousel-inner">
                        @for (int i = 0; i < businesses.Count(); i++)
                        {
                            if (i % 4 == 0)
                            {
                                @Html.Raw("<div> <div class=\"row\">");
                            }

                            <div class="col-md-3">
                                <a href="~/Business/Details/@businessList[i].id" style="position: relative;">
                                    @*<img src="http://via.placeholder.com/175" alt="Image" style="max-width:100%;">*@
                                    <img src="https://picsum.photos/175?random=@i" alt="Image" style="max-width:100%;">
                                    <p class="text-block">@businessList[i].Name</p>
                                </a>
                            </div>

                            if (i % 4 == 3 || i == businesses.Count() - 1)
                            {
                                @Html.Raw("</div></div>");
                            }
                        }
                    </div>

                }

            </div>
        </div>
    </div>
</div>