@using E_MTY.Models;
@model E_MTY.Data.AspNetBusiness
@{
    ViewBag.Title = "Registro Empresa";
}

<header id="registerHeader">
    <div class="center">
        @using (Html.BeginForm("Create", "Business", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <h1 style="margin-top:-150px; color:white; font-weight:bold">Agrega tu empresa</h1>
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="span6">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control register-form", @placeholder = "Nombre de la empresa" })
                </div>

                <div class="span6">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control register-form", @placeholder = "Dirección" })
                </div>

                <div class="span6 k" style="margin-top:auto; margin-left:50px; margin-bottom:50px;">
                    @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control", @placeholder = "Valor en miles de pesos" } })
                </div>

                <textarea placeholder="Descripción" class="center-horizontal" style="text-align:center; margin-top:75px; resize:horizontal; height:100px;"></textarea>

                <input id="homeLogin" type="submit" value="Registrarse" class="registerBusinessButton" />
            </div>
            @Html.ValidationSummary("", new { @class = "center-bottom", style = "color:white" })
        }
    </div>
</header>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}